<div id="<%= dom_id pokemon %>">
  <div>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </div>

  <div>
    <strong>Level:</strong>
    <%= pokemon.level %>
  </div>

  <div>
    <strong>Poketype:</strong>
    <%= pokemon.poketype %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </div>

</div>
